<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="2.5">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
    <!--<error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>-->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://databanken.ucll.be:61819/2TX38</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>local_r0705829</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>1lZ0pqKùAtaV$è:</param-value>
    </context-param>
    <context-param>
        <param-name>ssl</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>sslfactory</param-name>
        <param-value>org.postgresql.ssl.NonValidatingFactory</param-value>
    </context-param>
   <!-- <context-param>
        <param-name>currentSchema</param-name>
        <param-value>r0705829_schema</param-value>
    </context-param>-->
    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>


</web-app>
